
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ENVIRONMENT=
DEBUG=

LLM_PROVIDER=
EMBEDDINGS_PROVIDER=
EMBEDDINGS_MODEL_ID=
BEDROCK_MODEL_ID=


LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
LANGFUSE_PUBLIC_SUPERVISOR_KEY=
LANGFUSE_SECRET_SUPERVISOR_KEY=
LANGFUSE_HOST_SUPERVISOR=

LOG_LEVEL=
VECTOR_S3_BUCKET=
VECTOR_INDEX_NAME=

CRAWL_TYPE=
CRAWL_MAX_DEPTH=
CRAWL_MAX_PAGES=
CRAWL_TIMEOUT=

TOP_K_SEARCH=
CHUNK_SIZE=
CHUNK_OVERLAP=
SOURCES_FILE_PATH=