version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: verde-ai-app
    env_file:
      - .env
    ports:
      - "8000:8000"
volumes:
  postgres_data: