name: Build and Push to ECR

on:
  push:
    branches:
      - develop  # Change if needed
      - uat  # Change if needed
      - main
    paths-ignore:
      - '.github/workflows/**'  # Ignore changes in workflow folder
  workflow_dispatch:
env:
  ECR_REPOSITORY:  ${{ vars.ECR_REGISTRY_NAME }}
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
  ROLE_NAME: ${{ vars.ROLE_NAME }}
  ECS_CLUSTER: ${{ vars.ECS_CLUSTER }}
  ECS_SERVICE: ${{ vars.ECS_SERVICE }}
  
permissions:
  id-token: write
  contents: read  
jobs:
  deploy:
    uses: verde-money/reusable-workflows/.github/workflows/deploy-ecs.yml@main
    secrets:
      inherit
      
  notify-slack:
    uses: verde-money/reusable-workflows/.github/workflows/slack-notification.yml@main
    needs: [deploy]
    with:
      environment: ${{ github.ref_name }}
      version_file_path: "version.json"
      deploy_result: ${{ needs.deploy.result }}
      title: "FOS: ${{ github.repository }} -  ${{ github.ref_name }} Deployment"
    secrets:
      SLACK_WEBHOOK_URL: ${{ vars.DEPLOY_SLACK_WEBHOOK_URL }}
