name: Build, Release and Deploy to ECS

on:
  push:
    branches:
      - develop
    paths-ignore:
      - ".github/workflows/**"
  workflow_dispatch:
    inputs:
      environment:
        description: "Select deployment environment"
        required: true
        type: choice
        options:
          - develop
          - uat
          - prod
      release_notes:
        description: "Release notes"
        required: false
        default: ""

env:
  ECR_REPOSITORY:  ${{ vars.ECR_REGISTRY_NAME }}
  AWS_REGION:      ${{ vars.AWS_REGION }}
  AWS_ACCOUNT_ID:  ${{ vars.AWS_ACCOUNT_ID }}
  ROLE_NAME:       ${{ vars.ROLE_NAME }}
  ECS_CLUSTER:     ${{ vars.ECS_CLUSTER }}
  ECS_SERVICE:     ${{ vars.ECS_SERVICE }}

permissions:
  id-token: write
  contents: read

jobs:

  ## -----------------------------------------
  ## Prepare: detect environment + release type
  ## -----------------------------------------
  ## -----------------------------------------
## Prepare: detect environment + release type
## -----------------------------------------
  prepare:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.set-env.outputs.environment }}
      release_type: ${{ steps.set-env.outputs.release_type }}
      release_notes: ${{ steps.set-env.outputs.release_notes }}
  
    steps:
       - uses: verde-money/action-release-and-tag@main
         with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            environment: ${{ inputs.environment }}
            release_type: ${{ steps.env.outputs.release_type }}
            release_notes: ${{ inputs.release_notes }}
            python_version: "3.12"
            version_file_path: "version.json"
            push_branch: ${{ github.ref_name }}

  ## -----------------------------------------
  ## Deploy ECS
  ## -----------------------------------------
  deploy:
    needs: [prepare]
    uses: verde-money/reusable-workflows/.github/workflows/deploy-ecs.yml@main
    with:
      environment: ${{ needs.prepare.outputs.environment }}
    secrets:
      inherit


  ## -----------------------------------------
  ## Slack Notification
  ## -----------------------------------------
  notify-slack:
    needs: [deploy, prepare]
    uses: verde-money/reusable-workflows/.github/workflows/slack-notification.yml@main
    with:
      environment: ${{ needs.prepare.outputs.environment }}
      version_file_path: "version.json"
      deploy_result: ${{ needs.deploy.result }}
      title: "FOS: ${{ github.repository }} - ${{ needs.prepare.outputs.environment }} Deployment"
    secrets:
      SLACK_WEBHOOK_URL: ${{ vars.DEPLOY_SLACK_WEBHOOK_URL }}
