name: Build and Push to ECR

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select deployment environment"
        required: true
        type: choice
        options:
          - develop
          - uat
          - prod

env:
  ECR_REPOSITORY:  ${{ vars.ECR_REGISTRY_NAME }}
  AWS_REGION:      ${{ vars.AWS_REGION }}
  AWS_ACCOUNT_ID:  ${{ vars.AWS_ACCOUNT_ID }}
  ROLE_NAME:       ${{ vars.ROLE_NAME }}
  ECS_CLUSTER:     ${{ vars.ECS_CLUSTER }}
  ECS_SERVICE:     ${{ vars.ECS_SERVICE }}

permissions:
  id-token: write
  contents: read

jobs:

  ## -----------------------------------------
  ## Deploy using selected environment
  ## -----------------------------------------
  deploy:
    uses: verde-money/reusable-workflows/.github/workflows/deploy-ecs.yml@main
    with:
      environment: ${{ github.event.inputs.environment }}
    secrets:
      inherit

  ## -----------------------------------------
  ## Slack Notification
  ## -----------------------------------------
  notify-slack:
    uses: verde-money/reusable-workflows/.github/workflows/slack-notification.yml@main
    needs: [deploy]
    with:
      environment: ${{ github.event.inputs.environment }}
      version_file_path: "version.json"
      deploy_result: ${{ needs.deploy.result }}
      title: "FOS: ${{ github.repository }} - ${{ github.event.inputs.environment }} Deployment"
    secrets:
      SLACK_WEBHOOK_URL: ${{ vars.DEPLOY_SLACK_WEBHOOK_URL }}
