name: Detect Secrets

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  detect-secrets:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install detect-secrets
      run: pip install detect-secrets

    - name: Run detect-secrets
      run: detect-secrets scan
