name: Build and Push to ECR

on:
  push:
    branches:
      - prod  # Change if needed
      - dev  # Change if needed
      - uat  # Change if needed
    paths-ignore:
      - '.github/workflows/**'  # Ignore changes in workflow folder
  workflow_dispatch:
env:
  ECR_REPOSITORY: "${{ github.event.repository.name }}-${{ github.ref_name }}"
  AWS_REGION: us-east-1
  AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
  ROLE_NAME: ${{ vars.ROLE_NAME }}
  ECS_CLUSTER: ${{ vars.ECS_CLUSTER }}
  ECS_SERVICE: ${{ vars.ECS_SERVICE }}
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.ROLE_NAME }}"
          aws-region: ${{ env.AWS_REGION }}
          
      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          ECR_REGISTRY=$(aws ecr describe-repositories --repository-names $ECR_REPOSITORY --query "repositories[0].repositoryUri" --output text)
          
          # Mandatory: push "$IMAGE_TAG"
          docker build -t $ECR_REGISTRY:$IMAGE_TAG .
          docker tag $ECR_REGISTRY:$IMAGE_TAG $ECR_REGISTRY:latest
          
          # Optional: push "VERSION_TAG"
          #docker tag $ECR_REGISTRY:$IMAGE_TAG $ECR_REGISTRY:$VERSION_TAG
          docker push $ECR_REGISTRY:$IMAGE_TAG
          
          # Optional: push "latest"
          docker push $ECR_REGISTRY:latest
          #docker push $ECR_REGISTRY:$VERSION_TAG
            
      - name: Update ECS service
        run: |
          aws ecs update-service \
            --cluster ${{ env.ECS_CLUSTER }} \
            --service ${{ env.ECS_SERVICE }} \
            --force-new-deployment \
            --region ${{ env.AWS_REGION }}

      - name: Wait for service stability
        run: |
          aws ecs wait services-stable \
            --cluster ${{ env.ECS_CLUSTER }} \
            --services ${{ env.ECS_SERVICE }} \
            --region ${{ env.AWS_REGION }} \
            --cli-read-timeout 1200

