name: Create Release to promote environment

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release type'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
      release_notes:
        description: 'Release notes'
        required: false
        default: ''

permissions:
  contents: write
  pull-requests: write

jobs:
  create-release:
    name: Create Release
    uses: verde-money/reusable-workflows/.github/workflows/create-release.yml@main
    with:
      release_type: ${{ github.event.inputs.release_type }}
      release_notes: ${{ github.event.inputs.release_notes }}
    secrets:
      inherit
